@tailwind base;
@tailwind components;
@tailwind utilities;

/*sets body color, font color and font size*/
body {
  background-color: #413c3c;
  font-size:  18px;
  color: #ffffff;
  height: 100vh;
}

/*converts calender icon to white and makes it bigger*/
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
  font-size: 1.5rem;
  cursor: pointer;
}

input[type="checkbox"] {
  cursor: pointer;
}

/*css for loader*/
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before , .loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #bb00ff;
  animation: prixClipFix 2s linear infinite ;
}
.loader::after{
  inset: 8px;
  transform: rotate3d(90, 90, 0, 180deg );
  border-color: #ff1100;
}

@keyframes rotate {
  0%   {transform: rotate(0deg)}
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    75%, 100%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
}
